@tailwind base;
@tailwind components;
@import url("https://use.typekit.net/mpa1wkh.css");

@font-face {
  font-family: "proximanova-regular";
  src: url("../public/fonts/Proxima-Nova-Webfont/Webfonts/proximanova_regular_macroman/proximanova-regular-webfont.woff2")
      format("woff2"),
    url("../public/fonts/Proxima-Nova-Webfont/Webfonts/proximanova_regular_macroman/proximanova-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "proximanova-regular";
  /*
  font-family: "acumin-pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    */
}

@tailwind utilities;

.transition {
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.gradientDark {
  background: rgb(30, 41, 59);
  background: -webkit-linear-gradient(
    to bottom,
    rgb(30, 41, 59) 0%,
    #000000 100%
  );
  background: -moz-linear-gradient(to bottom, rgb(30, 41, 59) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgb(30, 41, 59) 0%, #000000 100%);
  height: 100%;
}

foreignObject {
  display: block;
}

[role="tooltip"].popup-content {
  border-radius: 0;
}

.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
  line-height: inherit;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input.dark::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

[contenteditable]:focus {
  outline: none;
}
